In [30]:
import pandas as pd

In [31]:
df=pd.read_csv("dataset3.csv")

In [32]:
df.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465

In [33]:
df.dtypes

competitorname       object
chocolate             int64
fruity                int64
caramel               int64
peanutyalmondy        int64
nougat                int64
crispedricewafer      int64
hard                  int64
bar                   int64
pluribus              int64
sugarpercent        float64
pricepercent        float64
winpercent          float64
dtype: object

In [34]:
print(df.isnull().sum())

competitorname      0
chocolate           0
fruity              0
caramel             0
peanutyalmondy      0
nougat              0
crispedricewafer    0
hard                0
bar                 0
pluribus            0
sugarpercent        0
pricepercent        0
winpercent          0
dtype: int64

* Bir şekerin çikolata olup olmadığını diğer özelliklerine göre tahmin
edebilir misiniz? Evet edebiliriz. Koşullu olasılık teoremi Bayes bu iş için en uygun yöntemlerden biridir.

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
import numpy as np

X=df.drop(["chocolate","competitorname"],axis=1)
y=df["chocolate"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=41)

In [36]:
gnb = GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)

* Aşağıda tahmin değerler(üst satırda) ve gerçek değerler(alt satırda) görünmektedir.

In [37]:
print(y_pred)
print(y_test.values)

[0 1 0 0 1 1 1 1 1 1 0 0 1 1 1 0 0]
[1 1 0 0 1 1 1 1 1 1 0 0 0 1 1 1 0]